body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body *{
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
}
.left > h1{
    color: #f10a0a;
    font-size: 2vw;
}
.imagem{
    width: 35vw;
}
.flamengo{
    width: 5vw;
}
.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.card{
    width: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card > h1{
    color: #f10a0a;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #f10a0a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
@media only screen and (max-width: 950px) {
    .card{
        width: 75%;
    }
}
@media only screen and (max-width: 600px) {
    .main{
        flex-direction: column;
    }
    .left > h1{
        display: none;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .left-futebol{
        width: 80vw;
    }
    .card{
        width: 90%;
    }
}